<div class="search p-5">
    <h4>Searching for: {{query}}</h4>
    @for (item of results; track $index) {
    <div class="row mb-3 bg-body-tertiary">
        <div class="col-12 col-lg-8 p-5">
            <p> <b>{{item.title}}</b> </p>
            <p> {{item.description}} </p>
            <span> {{item.source.id || "Unknown"}} in {{item.source.name}} </span>
            <br>
            <span> {{dateFixer(item.publishedAt)}} </span>
        </div>
        <div class="col-12 col-lg-4 p-3">
            <div class="bg-headline h-100" [ngStyle]="{'background-image': 'url('+item.urlToImage+')'}"></div>
        </div>
    </div>
    } @empty {
    <p class="text-center">Not Found or Waiting for API...</p>
    }
</div>