<div class="p-5">
    <div class="text-center info">
        <h2>Mehmet KÖROĞLU</h2>
        <h5>Front-end Developer</h5>
        <p><a class="me-3" href="tel:05062774723">0506 277 4723</a><a
                href="mailto:koroglu.mehmetn@gmail.com">koroglu.mehmetn@gmail.com</a></p>
        <p>
            Github: <a class="me-3" href="https://github.com/mehmetkoroglu" target="_blank">mehmetkoroglu</a>
            Linkedin: <a class="me-3" href="https://www.linkedin.com/in/mehmet-koroglu/"
                target="_blank">mehmet-koroglu</a>
            Play Store: <a href="https://play.google.com/store/apps/dev?id=8123448893242053763" target="_blank">Koroglu
                Software</a>
        </p>
    </div>
    <div class="summary">
        <h6 class="border-bottom border-dark">Summary of Qualification</h6>
        <ul>
            <li>Over 2+ years of experience in Software Development.</li>
            <li>SOLID, IoC, OOP, JPA, AOP, Dependency Injection, code reviewing and optimizing.</li>
            <li>Knowledge of Web Development, Game Development and Mobile App Development.</li>
            <li>Web developing frameworks such as Angular, ASP.Net Core MVC and React(Beginner).</li>
            <li>Responsive web pages with Bootstrap. </li>
            <li>Knowledge for Spring Framework, Tomcat, Hibernate, Maven, REST API, Postman </li>
            <li>Database programming such as MSSQL, SQLite and Firebase. </li>
            <li>Game developing in Unity Singleplayer and Multiplayer (PUN). </li>
            <li>Mobile app developing in Ionic Framework (Angular) and Android Studio (Java). </li>
            <li>UI and Material design in Figma for prototype and mockup. </li>
            <li>Agile and Scrum methodologies. (Trello) </li>
            <li>Version control systems such as Git and Github. </li>
            <li>Fluent in Turkish and advanced in English.</li>
        </ul>
    </div>
    <div class="experience">
        <h6 class="border-bottom border-dark">Experience</h6>
        <p><b>Independent Developer, 2022 - Present</b>
            <br>
            Web system development with Angular Framework and Spring Framework. <br>
            Desktop app development with Windows Form (C#) and Java Swing. <br>
            Mobile app development with Android Studio and Ionic Framework. <br>
            Game development with Unity and Photon Networking.
        </p>
        <p><b>Intern Game Developer, July 2022 – August 2022</b>
            <br>
            Ataturk University Teknokent, 4US Game Company, Erzurum, Turkey. https://www.4usgame.com/
            Game development with Unity.
        </p>
        <p><b>Freelancer Web Developer and Mobile App Developer, August 2021 – July 2022</b>
            <br>
            Ataturk University Teknokent, Netger Agency, Erzurum, Turkey. https://netger.net/
            HR system development with Angular (website), Ionic (mobile app) and Firebase (database).
        </p>
        <p><b>Intern Web Developer and Mobile App Developer, July 2021 – August 2021</b>
            <br>
            Ataturk University Teknokent, Netger Agency, Erzurum, Turkey. https://netger.net/
            Web based application development with Angular, Ionic, Firebase, Figma, Github, Trello(Agile).
        </p>
    </div>
    <div class="projects">
        <h6 class="border-bottom border-dark">Projects</h6>
        <p><b>Koroglu Software, Website Project, 2023</b></p>
        <ul>
            <li>Developed a website to publish policy texts and required advertisement files for my applications. </li>
            <li>This website developed with Angular Framework and Firebase for Hosting. </li>
            <li>The clone version of this site has also been developed with the React Framework. </li>
            <li>CSS and Figma were used for the design of UI components. </li>
            <li>Website link: <a href="https://koroglusoft.net" target="_blank">https://koroglusoft.net</a></li>
        </ul>
        <p><b>Netger Agency., Human Resources System Project, 2022</b></p>
        <ul>
            <li>Netger Agency. I worked as a web developer and mobile application developer. </li>
            <li>A website, career page and mobile management panel application projects were made for a private
                company based in Istanbul. </li>
            <li>I worked on this project as part of a seven-person team, including five web developers and two UI
                designers. </li>
            <li>We worked with Github as a version control system and Agile via Trello as a business methodology.</li>
            <li>Angular Framework was preferred for the institution's website and career page, Ionic Framework as a
                mobile application for the management panel, and Firebase for the database. </li>
            <li>Website link: <a href="https://banquetteam.com" target="_blank">https://banquetteam.com</a> </li>
        </ul>
        <p><b>Netger Agency, Website Management Panel Project, 2021 – 2022</b></p>
        <ul>
            <li>Netger Agency. I took part as a project-based web developer.</li>
            <li>Developed in the creation of an admin panel for the institution's website, which was specially made for
                lawyers. </li>
            <li>Angular Framework was preferred for the website and Firebase was preferred for the database. </li>
            <li>It was used on Github as a version control system. </li>
            <li>Website referral link: <a href="https://netger.net/avukat" target="_blank">https://netger.net/avukat</a>
            </li>
        </ul>
        <p><b>University Term Projects, 2018 – 2022 </b></p>
        <ul>
            <li>Blog website (local) with ASP.Net Core MVC and MSSQL. </li>
            <li>Math Operations system that performs online (Heroku) unit testing with Gradle, Java, and Spark.
                Github: https://github.com/mehmetkoroglu/gradle-unit-tests </li>
            <li>Study-tracking mobile application developed with Angular and Ionic </li>
            <li>Desktop application that performs CRUDL operations developed with Windows Form (C#) and MSSQL.</li>
            <li> Sales-Stock tracking system developed with Java Swing and SQLite. </li>
        </ul>
    </div>
    <div class="education">
        <h6 class="border-bottom border-dark">Education</h6>
        <p><b>Bachelor of Computer Engineering</b> 2018 - 2022
            <br>
            Erzurum Technical University, Faculty of Engineering and Architecture, Department of Computer Engineering,
            Erzurum, Turkey.
        </p>
    </div>
    <div class="languages">
        <h6 class="border-bottom border-dark">Languages</h6>
        <ul>
            <li>Turkish - Native</li>
            <li>English - Advanced</li>
            <li>German - Basic</li>
        </ul>
    </div>
    <div class="references">
        <h6 class="border-bottom border-dark">References</h6>
        <ul>
            <li>Available upon request</li>
        </ul>
    </div>
</div>